/* общее */
@import url('https://fonts.cdnfonts.com/css/inter');

body {
    margin: 0;
    font-family: 'inter';
    color: #ffffff;
    background-color: #4C4C4D;
    font-size: 25px;
    
    height: 100vh;
}
img{
    width: 20px;
    height: 20px;
}
.img{
    height: 600px;
    width: 600px;
    display: flex;
    position:absolute;
    top:0px;
    left:-100px;
    top: 20px;
    margin: 0 400px 0 0;
    
}
header {
    
    width: 100vw;
}
footer {
    
    /* position: sticky; */
    background-color: #373738;
    padding: 10px 0;
    /* margin-top: 80px; */
    font-size: 20px;
    /* position: sticky; */
    top: 100%;
    /* width: 99vw; */
    margin-top: 20px;
    width: 100vw;
}
.f{margin-left:30px;}
h1{
    display: inline-block;
    font-size: 70px;
    margin-left: 700px;
}


/* header */

/* верх */
.top{
    height: 10%;
    background-color: #313131;
    display: flex;
    padding: 0px 30px;
    margin: 0;
}
/* линия */

hr{
    background-color: white;
    margin: 0;
    height: 1px;
    
}
/* низ */
.bottom{
    height: 10%;
    background-color: #313131;
    width: 100%;
    
}
div.bottom a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
nav {
    display: flex;
    gap: 26px;
}


/* main */
.title {
    background-color: #D9D9D9;
    height: auto;
    width: 50%;
    margin: 30px 25% 0px 25%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 20px;
    /* text-align: center; */
}
.h{ font-size: 30px;}
.rad{
    border-radius: 20px;
}
.title p {
    color: black;
    padding: 0px 40px;
    /* font-size: 25px; */
}
li{
    color: black;
    margin: 0px 40px;
}
.title a{
    color: rgb(44, 159, 52);
    text-align: right;
    text-decoration: none;
    border-radius: 40px;
   
    
}
.title a:hover{
    color: rgb(255, 187, 0);
}
.title h1{
    margin-left: 600px;
}
/* Пример кода */

.code{
    background-color: #1f1f1f;
    /* height: 300px; */
    padding: 10px;
    margin: 40px;
    border-radius: 7px;
    
}

/* Цвета */
/* print */
.y {
    color: rgb(255, 213, 122);
}
/* "" */
.r{
    color: rgb(238, 90, 90);
}
/* скобки */
.o{
    color: rgb(219, 115, 45);
}
.or{
    color: rgb(255, 102, 0);
}
/* выделение */
.imp{
    color: red;
    text-decoration: underline;
}
/* списки */
.blue {
    color: rgb(57, 140, 211);
}
/* цифры */
.numb{
    color: rgb(171, 212, 166);
}
/* range */
.range{
    color: aquamarine;
}
/* фиолетовый */
.pin{
    color: rgb(189, 85, 120);
}
/* Встроенные Функции */
.func{
    color: rgb(253, 253, 102);
}
/* комментарий */
.com{
    color: rgb(0, 110, 0);
}
/* Фукции */
.def{
    color: rgb(24, 21, 204);
}
/* Переменные */
.var{
    color: aqua;
}
.ret{
    color: rgb(141, 17, 141);
}
@media (max-width:1350px) {
    body {
       font-size: 20px;
    }
    footer {
        font-size: 10px;
    }
    .title{
        padding: 10px 0px ;
    }
    nav{
        gap: 10px;
    }
    .h{font-size: 25px;}
    .img{
        height: 600px;
        width: 600px;
    }
}
@media (max-width:1159px) {
    body {
       font-size: 20px;
    }
    footer {
        font-size: 10px;
    }
    .title{
        padding: 10px 0px ;
    }
    nav{
        gap: 10px;
    }
    .h{font-size: 25px;}
    .img{
        height: 600px;
        width: 600px;
    }
    h1{
        font-size: 55px;
        
    }
}
@media (max-width:963px) {
    body {
       font-size: 10px;
    }
    footer {
        font-size: 10px;
    }
    .title{
        padding: 10px 0px;
        margin: 30px 25% 0px 25%;
    }
    nav{
        gap: 3px;
    }
    .h{font-size: 25px;}
    .img{
        height: 400px;
        width: 400px;
    }
    h1{
        font-size: 55px;
        margin-left: 300px;
    }
    .t{
        display: inline-block;
        margin-left: 150px;
        font-size: 10px;
    }
}

@media (max-width:600px){
    /* body {
        font-size: 20px;
     } */
     footer {
        font-size: 20px;
     }
     .title{
        padding: 10px 0px;
        margin: 30px 10% 0px ;
        width: 400px;
     }
     nav{
        gap: 3px;
     }
     .h{font-size: 20px;}
     .img{
        height: 300px;
        width: 300px;
    }
    h1{
        font-size: 50px;
        margin-left: 200px;
    }
    .t{
        display: inline-block;
        margin-left: 20px;
        font-size: 10px;
    }
}

